* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #20202d;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 945px;
  margin: auto;
}

.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px;
}

.hero {
  padding-top: 50px;
  padding-bottom: 155px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.01%, #000000),
    color-stop(95.44%, rgba(0, 0, 0, 0))
  );
  background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 105px;
}

.hero-subtitle {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  margin-bottom: 14px;
}

.hero-title {
  font-size: 40px;
  line-height: 59px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 40px;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  background: #fff;
  border-radius: 50%;
  background: url("../images/logo.svg") no-repeat center left -20px;
  background-size: cover;
  border: 13px solid #fff;
}

.button {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fdde76),
    to(#ffbb01)
  );
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  -webkit-box-shadow: 0px 4px 0px #b68500;
  box-shadow: 0px 4px 0px #b68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.social-link {
  margin-left: 20px;
}

.social-link:first-child {
  margin-left: 0px;
}

.features {
  background: #000;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin-bottom: 63px;
}

.features-img {
  display: block;
  margin-bottom: 22px;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.features-text {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

/* projects */
.projects {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    color-stop(95.44%, rgba(0, 0, 0, 0))
  );
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.project-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-text {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project-title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.project-time,
.project-cost {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-bottom: 44px;
}

.project-time,
.project-cost,
.project-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.project-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.project-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.project-icon {
  margin-right: 16px;
}

.project-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 44px;
}

.project-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #ffbb01;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.project-bullet-active {
  background: #ffbb01;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-form {
  background: #fff;
  -webkit-box-shadow: -5px 5px 0px #ffc41d;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 380px;
  padding: 40px 48px 49px;
}

.contacts-form-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000;
}

.contacts-form-btn {
  width: 100%;
}

.contacts .input {
  background: #f8f8f8;
  border: none;
  -webkit-box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}

.contacts .input:focus {
  outline: none;
}

.contacts .input-name {
  margin-bottom: 15px;
}

.contacts .input-phone {
  margin-bottom: 25px;
}

.contacts-text {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.contacts-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.contacts-phone {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-bottom: 50px;
}

.contacts-mail {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

.contacts-social {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}

.contacts-link:hover {
  color: inherit;
}

.contacts-policy {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  color: #a5a5a5;
  margin-top: 72px;
}
/*# sourceMappingURL=style.css.map */
